{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->

        <link rel="stylesheet" href="/static/css/cui-standard.min.css">

        <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
        <script src="/static/js/styleguide.js"></script>
</head>
<body class="cui">
        <nav class="header" id="styleguideheader" role="navigation">
            <div class="container-fluid">
                <div class="header-panels">
                    <div class="header-panel hidden-md-down">
                    <h1 class="header__title">
                        <span><a href="{% url 'home' %}">AUTOMATED LAB PORTAL</a></span>
                    </h1>
                </div>
                <div class="header-panel header-panel--right hidden-md-down">
                    <a href="{% url 'home' %}" class="header-item" title="UI Kit Home"><span class="icon-home"></span></a>
                    <a href="../section-design.html#design-palette" class="header-item">Design</a>
                    <a href="../section-primitives.html#primitives-breadcrumb" class="header-item">Primitives</a>
                    <a href="../section-components.html#components-accordion" class="header-item">Components</a>
                    <a href="../section-layout.html#layout-footer" class="header-item">Layout</a>
                    <a href="../section-utilities.html#utilities-flex" class="header-item">Utils</a>
                    <div id="themeSwitcher" class="dropdown dropdown--left dropdown--offset-qtr header-item">
                        <a class="header-toolbar__link">Theme</a>
                        <div class="dropdown__menu">
                            <a id="theme-default" class="selected">Default</a>
                            <a id="theme-dark">Dark</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="content content--alt">
        <div class="container-fluid">
            <div class="row">

                <!-- Sidebar -->
            <nav class="col-lg-3 col-xl-2 sidebar hidden-md-down dbl-margin-top" role="navigation">
                <div class="base-margin">
                </div>
                <ul id="rootSidebar">
                    <li class="sidebar__item selected">
                        <a tabindex="0" title="Assets" href="{% url 'home' %}">
                            <span class="icon-home"></span>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a tabindex="0" title="Alerts" href="{% url 'rm_aaa' %}">
                            <span>
                                <span class="badge-wrapper">
                                    <span class="icon-alert"></span>

                                </span>
                            </span>
                            <span>Remove AAA from switches</span>
                        </a>
                    </li>
                    <li class="sidebar__drawer">
                        <a tabindex="0" title="Configurations" href="{% url 'rst_cfg_ise' %}">
                           <span class="icon-alert"></span>
                           <span>Reset Config ISE</span>
                        </a>

                    </li>
                    <li class="sidebar__drawer sidebar__drawer--opened">
                        <a tabindex="0" title="Reset ISE Config" >
                            <span class="icon-configurations"></span>
                            <span>Config</span>
                        </a>
                        <ul>
                            <li class="sidebar__item"><a href="{% url 'radius'%}">RADIUS Config</a></li>
                            <li class="sidebar__item"><a href="{% url 'tacacs'%}">TACACS config</a></li>
                            <li class="sidebar__item"><a href="{% url 'sgt'%}">SGT config</a></li>
                            <li class="sidebar__item"><a>SSH config</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            {% block content %}
            {% endblock content %}
            <footer class="footer">
                <div class="footer__links">
                    <ul class="list list--inline">
                        <li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank">Contacts</a></li>
                        <li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank">Feedback</a></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/help.html" target="_blank">Help</a></li>
                        <li><a href="http://www.cisco.com/c/en/us/about/sitemap.html" target="_blank">Site Map</a></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html" target="_blank">Terms & Conditions</a></li></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html" target="_blank">Privacy Statement</a></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies" target="_blank">Cookie Policy</a></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html" target="_blank">Trademarks</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>
    </div>
</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

